body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    border: solid;
    padding: 10px;
    background-color: bisque;
}

#screen {
    display: flex;
    justify-content: flex-end;
    border-style: solid;
    text-align: right;
    width: 150px;
    height: 50px;
    padding: 5px;
    background-color: coral;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

button {
    width: 50px;
    height: 20px;
}