body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(55, 58, 73);
    overflow: hidden;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 0px rgb(55, 58, 73);
    margin: 0px;
    padding: 0px;
    color: rgb(212, 223, 221);
    font-size: 20px;
}

p {
    margin: 0px;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    width: 310px;
    height: 500px;
    border: solid rgb(171, 186, 209) 2px;
    border-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(202, 204, 207);
}

.top-calculator {
    display: flex;
    flex-direction: column;
    background-color: rgb(61, 83, 209);
    padding: 20px;
    margin: 0px;
    gap: 5px;
    border-radius: 40px 10px 40px 10px;

}

#screen {
    display: flex;
    justify-content: right;
    border: solid rgb(55, 58, 73) 5px;
    border-radius: 5px;
    border-bottom-width: 10px;
    width: 250px;
    height: 40px;
    background-color: rgb(225, 226, 216);
    color: rgb(73, 77, 97);
    font-size: 40px;
    font-weight: bolder;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 300px;
    gap: 5px;
}

button.digit ,
button.operator {
    width: 65px;
    height: 65px;
    background-color: rgb(61, 83, 209);
    color: rgb(212, 223, 221);
    font-size: 40px;
    font-weight: bolder;
    border-radius: 10px;
}

#clear ,
#equal ,
#plus ,
#zero {
    width: 136px;
    height: 65px;
    background-color: rgb(61, 83, 209);
    color: rgb(212, 223, 221);
    font-size: 40px;
    font-weight: bolder;
    border-radius: 10px;
}